<footer class="footer">
    <div class="columns is-mobile">
        <div class="column content">
            <p>Copyright © {{ copyrightyear }} Havi Sullivan. <a href="/colophon">About the site.</a></p>
        </div>
        <div class="column content">
            <p class="has-text-right">
                <a href="https://twitter.com/Taxes_dev">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span>
                        <span>Taxes_dev</span>
                    </span></a>
                <a href="https://www.linkedin.com/in/hsullivan">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fab fa-linkedin-in"></i>
                        </span>
                        <span>hsullivan</span>
                    </span></a>

                <a href="https://git.taxes.dev/taxes">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fab fa-git"></i>
                        </span>
                        <span>taxes</span>
                    </span>
                </a>
            </p>
        </div>
    </div>
</footer>