<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/who-am-i">Who am I?</a></li>
        <li><a href="/my-career">My Career</a></li>
    </ul>
</nav>