@font-face {
    font-family: "AndroclesOpti-Heavy";
    src: url("webfonts/AndroclesOpti-Heavy.ttf.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Evolventa;
    src: url("webfonts/Evolventa-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Evolventa;
    src: url("webfonts/Evolventa-Oblique.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Evolventa;
    src: url("webfonts/Evolventa-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Evolventa;
    src: url("webfonts/Evolventa-BoldOblique.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}
