.navbar-brand .navbar-item {
    font-family: $family-header;
    font-size: 2.6rem;
    text-transform: uppercase;
    padding-left: 3rem;
    &,
    &:hover {
        color: #000;
    }
}

@include from($desktop) {
    #navbarBasic {
        display: block;
        position: fixed;
        top: 0;
        right: 120px;

        .navbar-start {
            flex-direction: column;
            @for $i from 1 through 5 {
                & > a:nth-child(n + #{$i}) {
                    position: relative;
                    left: 20px * $i;
                }
            }
            & > a, & > a:hover {
                font-weight: bold;
                background: transparent;
            }

            &::before {
                display: block;
                background-color: rgba(255, 239, 55, 0.6);
                position: absolute;
                width: 120px;
                height: 550px;
                content: " ";
                transform: rotate(-30deg);
                right: -110px;
                top: -105px;
            }
        }
    }
}
