$family-header: 'AndroclesOpti-Heavy', serif;
$family-sans-serif: 'Evolventa', sans-serif;

$caramel: #B67233;
$comicred: #ed1d24;
$banana: #D2B04C;


$scheme-main: #FCF5E5;
$text: #343444;
$link: #7B3F00;
$link-hover: $caramel;
$title-color: #3A664C;
$card-background-color: #FEFBEA;

