@import "vars";
@import "fonts";
@import "../../node_modules/bulma/bulma.sass";
@import "nav";

a:hover {
    text-decoration: underline;
}

.title {
    background-color: #337a21;
    padding: 12px;
    color: $scheme-main;
    position: relative;

    @include from($desktop) {
        &::after {
            display: block;
            position: absolute;
            content: "\\\\\\";
            color: $scheme-main;
            right: 12px;
            top: -12px;
            font-weight: bold;
            font-size: 6rem;
        }
    }
}

.sidebar {
    font-weight: bold;
    @include from($tablet) {
        text-align: right;
    }
}

.pfcard {
    background-repeat: no-repeat;
    &[data-image] {
        cursor: pointer;
    }
    .card-content {
        padding-left: 200px;
        ul {
            list-style-type: none;
            margin-left: 0;
        }
    }

    &.inverted {
        .card-content {
            a, a:visited {
                color: $yellow;
            }
            a:hover {
                color: $scheme-main;
            }
        }
    }
}

.is-half .pfcard {
    background-position: bottom 24px right 24px;
    .card-content {
        padding-left: 24px;
        padding-bottom: 80px;
    }
}

.pftab a {
    &, &:hover {
        text-decoration: none;
    }
}

.pfpane {
    display: none;
    padding-top: 24px;
    &.is-active {
        display: block;
    }
}

#pflightbox .modal-content {
    width: 80%;
}

.pfrebrand img[data-image] {
    cursor: pointer;
}

.footer {
    background-color: $scheme-main;
    border-top: 1px solid $dark;
    margin-left: 3rem;
    margin-right: 3rem;

    .pony {
        display: block;
        height: 64px;
        width: 64px;
        margin: 0 auto;
        opacity: 0.3;
    }
}

.footer .icon-text {
    font-family: $family-header;
    margin: 0 0.5em;
}

